<header class="bg-white dark:bg-gray-900">
  <div
    class="mx-auto flex h-16 max-w-screen-xl items-center gap-8 px-4 sm:px-6 lg:px-8"
  >
    <p
      class="text-gray-200 text-base sm:text-lg md:text-xl lg:text-2xl font-bold text-center"
    >
      Plano Interactivo: Valle de Gracia
    </p>
  </div>
</header>
